{% include 'header.html' %}

<br><br><br>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-danger mb-0">Create New Gesture</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <center><img src="{{ url_for('createGesture') }}" width="50%"/></center>
            <button class="btn btn-primary" data-bs-dismiss="modal" id = "mybutton">
                <!-- <i class="fas fa-xmark fa-fw"></i> -->
                Create
            </button>
        </div>
    </section>

  